body {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #ffffbb;
}

body>* {
    margin: 5px;
}

button {
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* ----------------------------------- */

#title_area {
    width: 95%;

    background-color: white;
    border: 3px solid cyan;

    text-align: center;

    font-size: 20px;
}

/* ----------------------------------- */

#setting_area {
    width: 95%;
    height: 10vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: white;
    border: 3px solid orange;
}

#setting_area>* {
    margin: 5px;
}

.env_setting {
    width: 40%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.env_setting>input {
    width: 30px;

    text-align: center;
}

#setting_submit {
    width: 10%;
}


@media (max-width:563px) {

    /* mobile device */
    #setting_area {
        height: 20vh;
        flex-direction: column;
    }

    .env_setting {
        width: 90%;
    }

    #setting_submit {
        width: 50%;
    }
}

/* ----------------------------------- */

#examing_area {
    width: 95%;
    height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;
    border: 3px solid #ff18ff;
}

#timer {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: brown;
    border-bottom: 2px solid black;
    color: white;
}

#timer>* {
    margin: 5px;
}

#Q_display {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


#Q_switch {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-top: 2px solid greenyellow;
    border-bottom: 2px solid greenyellow;

    margin: 3px;
}

#Q_list {
    width: 98%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 3px;

    border-bottom: 1px solid green;
}

.Q_index_template {
    width: 5%;
    min-width: 30px;
    /* margin: 2px; */
}

.answering {
    background-color: #bdc100;
    color: white;
}

#switch_one {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 3px;
}

.switch_btn {
    width: 50%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.switch_btn>button {
    width: 80%;
}

.Q_template {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-top: 2px solid #a9d7ff;
    border-bottom: 2px solid #a9d7ff;

    margin: 5px;
}

.Q_template>* {
    margin: 3px;
}

.Q_statement {
    width: 95%;

    display: flex;

    justify-content: center;
    align-items: center;

    border: 1px solid yellow;
}

.Q_choices {
    width: 95%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.Q_choices>* {
    margin: 3px;
}

.choice_template {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;
    border: 1px solid gray;
}

.choice_template:hover {
    background-color: #01017e;
    color: white;
}

.choice>* {
    margin: 2px;
}

.choice_choose {
    width: 5%;
    min-width: 30px;
}

.choice_statement {
    border-left: 1px solid gray;
    padding: 3px;
}

#Q_submit {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3px;
}

#answers_submit {
    width: 70%;
}

/* ----------------------------------- */

#grade_area {
    width: 95%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;
    border: 3px solid blue;
}

#grade_area>* {
    margin: 5px;
}

#grade {
    text-align: center;
    font-size: 26px;

    border-bottom: 2px solid #dcac1c;
}